.countdown
    user-select none
    cursor default

    &__digit
        width 0.5em
        display inline-block

        &--left
            text-align right

        &--right
            text-align left

    &__divider
        bottom 0.05em
        position relative
