.number
    display flex
    width 5em
    justify-content space-around

    text-decoration initial
    color white
    font-size 0.65em

    &__digit
        display inline-block
        text-align center
        padding 0 0.5em

    &__group
        line-height 1em
        width 33%

        &:nth-child(2)
            position relative
            left 0.06em
